.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.active {
  cursor: progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px;
}

#start-server-btn, #stop-server-btn {
  width: 126px;
}

.nbedit-notice {
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

body > .nbframe {
  height: 100vh;
}

.nbedit-message {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.42857143;
}

.nbedit-add-btn {
  display: inline-block;
  margin-bottom: 1rem;
}